---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import DisplayTable from "../components/DisplayTable.astro";

import requestHttp from "../data/scryfall.api";

const data: any = await requestHttp();
---

<Layout title="Planeswalker List">
	<div class="h-screen flex flex-col">
		<Navbar />
		<DisplayTable data={data} />
		<dialog id="dialog"></dialog>
	</div>
</Layout>

<style is:global>
	html[data-theme="light"] svg path {
		fill: black;
	}

	html[data-theme="dark"] svg path {
		fill: white;
	}
</style>
